body {
  -webkit-font-smoothing: antialiased;
  box-sizing: content-box;
}
:root {
  --h1-font: 38px;
  --h1-font-mobile: 32px;
  --h2-font: 30px;
  --h2-font-mobile: 24px;
  --h3-font: 21px;
  --h3-font-mobile: 16px;
  --p-font: 14px;
  --p-font-mobile: 12px;
}
img.width {
  width: 250px;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

/* .header {
  box-shadow: 1px 0px 5px #000;
} */

.hero {
  background-color: #3f3f3f;
  color: #f9f9f9;
}
.content {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}
.hero h1 {
  font-family: Manrope;
  text-align: center;
  font-weight: 400;
  line-height: 50.9px;
  letter-spacing: 2px;
  font-size: var(--h1-font-mobile);
}
.hero p {
  font-family: Manrope;
  text-align: center;
  font-size: var(--h3-font-mobile);
  letter-spacing: 1.1px;
  line-height: 30.9px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex_txt,
.flex_img {
  width: 50%;
}
.flex_txt {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex_img img {
  width: 100%;
  border-radius: 30px;
}
.smal {
  font-size: var(--h2-font-mobile);
  font-weight: 300;
  letter-spacing: 0.5px;
}
.middle {
  margin: 5rem 0;
}
.middle .content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.middle .flex_txt {
  all: unset;
  width: 45%;
  margin: 5rem 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.middle .flex {
  align-items: center;
}
.middle h2 {
  font-family: Manrope;
  font-weight: 400;
  line-height: 50.9px;
  letter-spacing: 2px;
  font-size: var(--h2-font);
}
.middle p {
  font-family: Manrope;
  font-size: var(--p-font);
  padding-top: 20px;
  letter-spacing: 1.1px;
  line-height: 30.9px;
}
.footer {
  background-color: #919095;
}
.footer .content {
  display: flex;
  justify-content: center;
}
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  /* left: 20%; */
  width: 1100px;
  /* margin: 0 auto; */
  /* width: 50%; */
  /* margin: 0 5%;
  width: fit-content;
  gap: 1rem; */
}
@media screen and (min-width:1200px) {
  .socials{
    left: 3%;
  }
}
@media screen and (min-width:1300px) {
  .socials{
    left: 7%;
  }
}
@media screen and (min-width:1900px) {
  .socials{
    left: 12%;
  }
}
.socials a {
  width: fit-content;
}
.ig {
  background: linear-gradient(
    41deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 25px;
}
.wa {
  background: linear-gradient(
    40deg,
    rgba(7, 94, 84, 1) 0%,
    rgba(18, 140, 126, 1) 33.33%,
    rgba(37, 211, 102, 1) 66.666%,
    rgba(220, 248, 198, 1) 99.999%
  );
  color: white;
  padding: 5px;
  border-radius: 20px;
  font-size: 25px;
}

.footer p {
  font-size: var(--h3-font);
  color: white;
  padding: 1rem 0;
  font-family: Manrope;
  font-weight: 400;
}
.order {
  background-color: white;
  color: black;
  text-decoration: none;
  font-family: Manrope;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: var(--h3-font);
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.order:hover {
  scale: 1.1;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}
.slider .flex {
  all: unset;
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}
.slider .flex .product1,
.slider .flex .product2 {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
}
.slider .flex .product1 img,
.slider .flex .product2 img {
  width: 80%;
  border-radius: 25px;
}
.product1 h3,
.product2 h3 {
  font-family: Manrope;
  width: 80%;
}
.product1 p,
.product2 p {
  font-family: Manrope;
  width: 80%;
}
.slider {
  background-color: #3f3f3f;
  color: #f9f9f9;
  padding: 5rem 0;
}
.product1 a,
.product2 a {
  color: #f9f9f9;
  text-decoration: none;
  font-family: Manrope;
  font-weight: 400;
  text-transform: uppercase;
  width: fit-content;
  border: 1px solid #f9f9f9;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.5s ease-in;
}
.product1 a:hover,
.product2 a:hover {
  background-color: #f9f9f9;
  color: #3f3f3f;
}
@media screen and (max-width: 860px) {
  .slider .flex {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
  .slider .flex .product1,
  .slider .flex .product2 {
    width: 90%;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .hero .flex {
    flex-direction: column-reverse;
  }
  .hero .flex_txt {
    margin: 2rem 0;
  }
  .middle .flex {
    gap: 5rem;
  }
  .middle .in {
    flex-direction: column-reverse;
    gap: 7.5rem;
  }
  .middle .content {
    gap: 10rem;
  }
  .flex_img,
  .flex_txt {
    width: 80%;
  }
  .middle .flex_txt {
    width: 80%;
    margin: 1rem 0;
  }
  .middle {
    margin: 1rem 0;
  }
}
@media screen and (max-width: 425px) {
  .socials {
    width: 100%;
  }
  .slider .flex .product1 img,
  .slider .flex .product2 img {
    width: 100%;
  }
  img.width {
    width: 150px;
    padding: 1rem 0;
  }
  .flex_txt,
  .middle {
    text-align: center;
  }

  .hero h1 {
    font-size: var(--h2-font-mobile);
  }
  .hero .smal {
    font-size: var(--h3-font-mobile);
  }
  .hero p {
    font-size: var(--p-font);
  }
}
